<%= form_for @list do |f| %>
  <div class="form-control">
    <%= f.label :'Название списка' %>
    <%= f.text_field :title %>
  </div>

  <div class="form-control">
    <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
    <%= link_to 'Вернуться', :back, class: 'btn btn-outline-secondary' %>
  </div>
<% end %>